html {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #F8FAFD;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
}

.body {
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    min-height: calc(100vh - 70px); /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #F8FAFD;
}

.container {
    max-width: 1100px;
}

.link__mouse-over {
    color: hsl(36,20,49);
    &:hover {
        cursor: pointer;
        font-weight: 600;
        color:rgb(200,140,50);
    }
}

label {
    font-size: 1rem!important;
    font-weight: 400!important;
    color: #2c3e50!important;
}

.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
      display: inline-block;
    }
  }

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #4A73FC;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        "white": (
            $white,
            $black,
        ),
        "black": (
            $black,
            $white,
        ),
        "light": (
            $light,
            $light-invert,
        ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.card {
    background-color: #4A73FC;
    border-radius: 1rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    color: #c2d2fd;
    max-width: 100%;
    overflow: hidden;
    position: relative;

    .icon {
        color: #F8FAFD;
    }
}

.content h1 {
    margin-bottom: 0;
}

.card-content {
    background-color: transparent;
    padding: 0.5rem;
}

.content figure {
    margin: auto;
}